.creditPackChild {
  border: 0;
  background-color: #2e2d2d;
  height: 220px;
  width: auto;
  outline: 0;
  align-self: stretch;
  backdrop-filter: blur(250px);
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 84px 133px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}
.creditCount,
.credits {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 42px;
}
.credits {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  min-width: 90px;
}
.creditsDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.bonusCount,
.bonusValues {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 12px;
}
.bonusValues {
  min-width: 32px;
}
.bonusDetails,
.bonusDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bonusDetailsWrapper {
  padding: 0 48px;
  font-size: 18px;
  color: #727274;
}
.button {
  height: 56px;
  flex: 1;
}
.buttonWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 0 1.5px;
}
.creditsDetailsParent {
  width: 185px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 22.5px;
  box-sizing: border-box;
  gap: 16px;
}
.creditPack,
.creditPackInner,
.creditsDetailsParent {
  display: flex;
  align-items: flex-start;
}
.creditPackInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.creditPack {
  width: 350px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  text-align: center;
  font-size: 24px;
  color: #2e2d2d;
  font-family: Montserrat;
}
@media screen and (max-width: 450px) {
  .creditCount,
  .credits {
    font-size: 19px;
    line-height: 26px;
  }
}
