.tags {
  width: 119px;
  height: 36px;
}
.october6 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 114px;
}
.understandingProofOf {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  color: #2e2d2d;
}
.sarahMiller {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  min-width: 99px;
}
.button {
  width: 147px;
  height: 56px;
}
.tagsParent {
  width: 598px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 32px;
  min-width: 598px;
  max-width: 100%;
}
.frameChild {
  height: 458px;
  flex: 1;
  position: relative;
  border-radius: 0 8px 8px 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 560px;
}
.frameParent {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f0f0f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 38px;
  box-sizing: border-box;
  gap: 38px;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: #727274;
  font-family: Montserrat;
}
@media screen and (max-width: 1300px) {
  .tagsParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .understandingProofOf {
    font-size: 24px;
    line-height: 29px;
  }
  .tagsParent {
    gap: 16px;
  }
  .frameChild,
  .tagsParent {
    min-width: 100%;
  }
  .frameParent {
    gap: 19px;
  }
}
@media screen and (max-width: 450px) {
  .understandingProofOf {
    font-size: 18px;
    line-height: 22px;
  }
}
