.proofOfStake,
.understandingProofOf {
  margin: 0;
}
.understandingProofOfContainer {
  margin: 0;
  position: relative;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.title1 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 111px;
}
.title,
.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.titleWrapper {
  padding: 0 41px 0 41.5px;
}
.supportingText {
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.frameWrapper {
  width: 640px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  color: #727274;
}
.behanchIcon,
.facebookIcon,
.twitterIcon {
  height: 40px;
  width: 40px;
  position: relative;
  min-height: 40px;
}
.behanchIcon {
  height: 39.7px;
  width: 39.7px;
}
.facebookParent,
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.facebookParent {
  justify-content: flex-start;
  gap: 16px;
}
.frameContainer {
  width: 640px;
  justify-content: center;
  max-width: 100%;
}
.effective20230910 {
  width: 339px;
  height: 28px;
  position: relative;
  line-height: 28px;
  color: #fff;
  display: none;
  max-width: 100%;
}
.blogsListingsInner,
.understandingProofOfWorkAnParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.understandingProofOfWorkAnParent {
  flex: 1;
  background-color: #f0f0f2;
  flex-direction: column;
  align-items: center;
  padding: 64px 20px;
  gap: 32px;
  z-index: 1;
}
.blogsListingsInner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 64px;
  text-align: left;
  font-size: 18px;
  color: #2e2d2d;
  font-family: Montserrat;
}
@media screen and (max-width: 850px) {
  .understandingProofOfContainer {
    font-size: 29px;
    line-height: 32px;
  }
  .understandingProofOfWorkAnParent {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .understandingProofOfContainer {
    font-size: 22px;
    line-height: 24px;
  }
  .understandingProofOfWorkAnParent {
    padding-top: 42px;
  }
  .blogsListingsInner,
  .understandingProofOfWorkAnParent {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
