.z2010w301n001172bp11No,
.z2010w301n001172bp11No1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 118px);
  width: 154px;
}
.z2010w301n001172bp11No1 {
  left: calc(50% - 36px);
  z-index: 1;
}
.z2010w301n001172bp11NoParent {
  position: absolute;
  top: calc(50% - 126px);
  left: calc(50% - 118px);
  width: 236px;
  height: 251px;
}
.emojiLightningSymbol {
  width: 6.2px;
  height: 12px;
  position: relative;
}
.emojiLightningSymbolWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.bestSeller {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 61px;
}
.tags {
  cursor: pointer;
  border: 0;
  padding: 8px 12px;
  background-color: #2e2d2d;
  position: absolute;
  top: 16px;
  left: 0;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  z-index: 2;
}
.productImage {
  align-self: stretch;
  height: 320px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/product-image1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hostingPackage,
.hostingPackageFor {
  align-self: stretch;
  position: relative;
  line-height: 16px;
}
.hostingPackageFor {
  font-size: 18px;
  line-height: 28px;
  color: #2e2d2d;
}
.vatApplicableOn {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 20px;
}
.b {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-family: Inter;
  color: #2e2d2d;
}
.hostingPackageParent,
.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.hostingPackageParent {
  align-self: stretch;
}
.product {
  width: 360px;
  border-radius: 16px;
  flex-shrink: 0;
  text-align: left;
  font-size: 12px;
  color: #727274;
  font-family: Montserrat;
}
@media screen and (max-width: 450px) {
  .b {
    font-size: 16px;
    line-height: 22px;
  }
}
